:root {
  --light: #f6f6f6;
  --darkblue: #2c3e50;
  --lightblue: #3498db;
  --red: #e74c3c;
  --lightred: #f9eae7;
  --lightyellow: #fff5d1;
  --lightgreen:#34dd34;
}

/* Apply custom Google font */
body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/* Shared custom styles for headers */
#task-head,
.custom-modal-header,
.custom-card-header,
.btn-custom {
  background-color: var(--darkblue);
  color: var(--light);
}

#add-btn:hover {
  color: var(--lightblue);
  background: var(--lightgreen);
}
#close:hover{
background: var(--red);
}
.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}


/* style project rows based on status (late, due today) */
.project-late {
  background-color: var(--lightred);
}

.project-today {
  background-color: var(--lightyellow);
}

#taskBoard{
  height: 600px;
  background-color: #fff;
  overflow-y: scroll;
  -ms-overflow-style: none;  /*hidding scroll bar for Internet Explorer 10+  browser*/
  scrollbar-width: none;  /* idding scroll bar for Firefox browser */
}
/* Hidding the scroll bar*/
#taskBoard::-webkit-scrollbar{
  display: none; /* for chrome and safari browser*/
}

.inputs{
  border: 1px solid #adaead;
  border-radius: 6px;
  width: 40%;
  
}
.labelInp{
  display: grid;
  gap: 40px;
}
.labelInp label{
  display: flex;
  gap: 40px;
}
.descrpt{
  border: 1px solid #adaead;
  border-radius: 6px;
  width: 100%;
  height: 70px;
}
#msg{
  color: var(--red);
}